.roadmap {
  padding-bottom: 20px;

  .add-saga {
    border: none;
    background: none;
    font-size: 1.25rem;
    position: absolute;
    bottom: 12px;
    right: 12px;
    &:hover {
      color: #4c4c4c;
    }
  }
}
