@font-face {
  font-family: 'Macklin Sans';
  font-weight: normal;
  src: local('Macklin Sans'),
    url(./assets/fonts/macklin-sans-bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Macklin Text Medium';
  font-weight: normal;
  src: local('Macklin Text Medium'),
    url(./assets/fonts/macklin-text-medium.ttf) format('opentype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Macklin Sans', sans-serif;
  background: #f2f2f2;
}

h1,
h2,
h3 {
  font-family: 'Macklin Text Medium', serif;
}

button {
  cursor: pointer;
  background: #fff;
  border: 1px solid #222;
  border-radius: 4px;
  transition: background 0.25s ease;
  &:hover {
    background: rgb(222, 222, 222);
  }
}

.App {
  overflow-y: auto;
  max-height: 100vh;
  padding: 100px 0;
}
