.saga {
  border-radius: 8px;
  box-shadow: inset -5px -2px 20px rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin: 8px 0;

  .plus-section {
    display: flex;
    margin-top: 16px;
    align-items: flex-end;
    flex-direction: column;
    button {
      background: none;
      border: none;
      margin-right: 12px;
    }

    .plus {
      font-size: 1.25rem;
    }
  }
}
