.task {
  margin: 8px 0;
  background: #e8e8e8;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;

  button {
    background: none;
    border: none;
  }

  .check-box {
    font-size: 1.5rem;
    color: #484cac;
  }

  h5 {
    margin-left: 8px;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .edit-form,
  .title-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      margin-right: 8px;
      border: none;
      background: none;
      &:hover {
        color: #4c4c4c;
      }
    }
  }
}
